.completed-list {
  display: flex;
  flex-wrap: wrap;
}

.completed-list-item {
  width: 370px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  cursor: pointer;
  position: relative;

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  &:not(:nth-child(n + 7)) {
    margin-bottom: 30px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.completed-card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.completed-kind {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.completed-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(33, 150, 243, 0.9);

  visibility: hidden;
  pointer-events: none;
  transform: translateY(0);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .completed-list-link:hover &,
  .completed-list-link:focus & {
    transform: translateY(-100%);
    visibility: visible;
    pointer-events: auto;
  }
}

.completed-description {
  margin: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}
