.quality-list {
  display: flex;
  justify-content: space-between;

  &-item {
    width: 270px;

    &-item::before {
      display: block;
      content: "";
      width: 270px;
      height: 120px;
      background-color: #f5f4fa;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 4px;
      margin-bottom: 30px;
    }
  }
}

.antena::before {
  background-image: url(../images/antenna.svg);
}

.clock::before {
  background-image: url(../images/clock.svg);
}

.diagram::before {
  background-image: url(../images/diagram.svg);
}

.astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.quality-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
