header {
  border-bottom: 1px solid #ececec;

  .navigation {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 92px;
  }

  address {
    margin-left: auto;

    ul {
      display: flex;
    }

    li:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.address-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.navigation-list-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list {
  display: flex;

  li:not(:last-child) {
    margin-right: 50px;
  }

  &-item {
    position: relative;
  }
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: #233348;
  text-decoration: none;
}

.logo-one {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-two {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #2196f3;
    fill: #2196f3;
  }

  &.now {
    color: #2196f3;

    &::after {
      position: absolute;
      bottom: -1px;
      display: block;
      content: "";
      color: #2196f3;
      background-color: #2196f3;
      width: 100%;
      height: 4px;
      border-radius: 2px;
    }
  }
}

.header-contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-right: 50px;
  }

  &:hover,
  &:focus {
    color: #2196f3;
    fill: #2196f3;
  }
}

.icon {
  margin-right: 10px;
}

.address {
  font-style: normal;
  margin-left: 280px;
}
