.footer-form-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;

  &::placeholder {
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
    border: 1px solid $accent-color;
  }
}
